<div><%= form.text_area :question, placeholder: "問題" , rows: "3"%></div>
<div><%= form.text_area :answer, placeholder: "答え" , rows: "3"%></div>
<div><%= form.text_area :remark, placeholder: "備考", rows: "6" %></div>