<div>管理者専用</div>
<%= link_to "クイズリスト", quizzes_path %>
<%= link_to "クイズ追加", new_quiz_path %>


<div class="top">
  <div class="title">プログラミング学習クイズ
  </div>
  <div class="start">
  <%= link_to "クイズスタート",responce_quizzes_path,:style=>"text-decoration: none;" %>
  </div>
</div>
